:root {
	--paper-title-size: 14px;
	--paper-subtitle-size: 12px;
	--paper-title-line-height: 20px;
	--paper-max-line-clamp: 3;

	--infolder-title-size: 13px;
	--infolder-subtitle-size: 10px;
	--infolder-title-line-height: 16px;

	--c-paper-icon-size: 20%;
	--infolder-icon-size: 20%;

	--c-paper-padding-top: 3px;
	--c-paper-padding-btm: 4px;

	--c-paper-border-radius: 4px;

	--c-paper-btn-padding: 2px;
	--c-paper-btn-hover-scale: 1.15;
	--c-paper-solo-btn-padding: 0px 10px 0px 2px;

	--folder-cont-padding-left: 25px;
	--paper-item-padding-left: 6px;

	--paper-item-width: 97%;
	--folder-cont-width: calc(var(--paper-item-width) - var(--folder-cont-padding-left) + var(--paper-item-padding-left));
	--folder-item-width: 100%;
	--c-yt-background: #1d1d1d;

	--dragging-opac: 0.5;
	--dragging-oob-opac: 0.75;

	--paper-spinner-container-rotation-duration: 1568ms;
	--paper-spinner-expand-contract-duration: 1333ms;
	--paper-spinner-full-cycle-duration: 5332ms;
	--paper-spinner-cooldown-duration: 400ms;

	--sidebar-width: var(--ytmusic-guide-width, 240px);
	--sidebar-folder-scale: 0.8;

	--max-bright-white: rgba(255,255,255,1);
	--high-bright-white: rgba(220,220,220, 1);
	--low-bright-white: rgba(110, 110, 110, 1);

	/*--c-player-bkg-filter: blur(20px) brightness(0.6) saturate(3);*/
	--c-player-bkg-filter: blur(20px) brightness(0.6) saturate(1.4);

	--yt-page-bkg-filter: blur(80px) brightness(0.7) saturate(1.5);
	--yt-page-bkg-height: 75vh;


	scrollbar-width: none;
}

.c-paper-wrapper {
	--paper-min-height: 50px;
}

.c-paper-folder-cont > .c-paper-wrapper {
	--paper-min-height: 40px !important;
}

.c-paper-btn {
	/* define here to have different line heights based on in folder or not. */
	--c-paper-maj-btn-size: calc(var(--paper-min-height) * 0.8);/*80%;*/
	--c-paper-mid-btn-size: calc(var(--paper-min-height) * 0.7);
	--c-paper-midsml-btn-size: calc(var(--paper-min-height) * 0.6);
	--c-paper-sml-btn-size: calc(var(--paper-min-height) * 0.4);
	--c-paper-tin-btn-size: calc(var(--paper-min-height) * 0.3);
}

@keyframes player-page-bkg {
	from {
		scale: 1.01;
	}
	to {
		scale: 1.1;
	}
}



/* ALL RELATED TO CUSTOM C-PAPER ELEMENTS ON SIDEBAR */



/* id items that has class ytmusic-sect... that has a child of tab ytmusic-entry... without is-primary attr */
#items.ytmusic-guide-section-renderer:has(ytmusic-guide-entry-renderer:not([is-primary])),
#items.ytmusic-guide-section-renderer:not(:has(ytmusic-guide-entry-renderer)) {
	overflow: clip scroll !important;
	opacity: 0;
	scrollbar-width: thin;
	scrollbar-color: #aaa rgba(0, 0, 0, 0);

	clip-path: inset(0 0 0 0);

	&:has([c-dragging="true"]) {
		& * {
			cursor: grabbing !important;
		}
		cursor: grabbing;
	}

	& > .c-hidden:has(.c-editing):not(.c-template) {
		visibility: visible !important;
		position: initial !important;
		display: initial !important;

		& .c-paper-item > * {
			opacity: 0.2;
		}
	}
}

ytmusic-play-button-renderer.c-paper {
	position: absolute;
	visibility: hidden;
}

tp-yt-paper-spinner-lite.c-paper {
	position: absolute;
	/*display: block !important;*/
	/*##width: var(--c-paper-mid-button-size) !important;*/
	height: var(--c-paper-mid-button-size) !important;

	padding: var(--c-paper-solo-btn-padding);

	/*&:is([active]) {
		position: static !important;
	}*/
}

div:not(.c-carousel) > .c-paper-wrapper {
	text-decoration: none;
	width: 100%;
	height: fit-content;
	display: block;
	user-select: none;

	/* to stop jiggling scrollbar*/
	overflow: hidden;

	min-height: 25px;

	&.c-uninteractable {
		cursor: default !important;
	}

	&.c-uninteractable * {
		cursor: default !important;
	}

	&[c-dragging="true"] {
		& * {
			cursor: grabbing !important;
		}
		cursor: grabbing !important;
	}

	&:not(.c-uninteractable)[c-draggable="true"] {
		& * {
			cursor: grab;
		}
		cursor: grab;
	}

	&:not(.c-uninteractable):not([c-draggable]), :not(.c-uninteractable)[c-draggable="false"] {
		& :not(.c-paper-folder-cont) {
			cursor: pointer;
		}
		cursor: pointer;
	}

	&.open > .c-paper-folder-cont > .c-hidden:has(.c-editing):not(.c-template) {
		visibility: visible !important;
		position: initial !important;
		display: initial !important;

		& .c-paper-item > * {
			opacity: 0.2;
		}
	}


	&.c-template {
		opacity: 0 !important;
		width: 0px !important;
	}

	&:has(.c-editing).c-paper-folder.open .c-paper-folder-cont:empty {
		margin-top: 5px;
		margin-left: 20px;
		margin-bottom: 5px;
		padding-right: 5px;
		width: 85%;

		background-color: rgba(100,100,100,0.3);/*#131313;*/
		height: 30px;
		border-radius: 3px;
		filter: drop-shadow(#342d2db0 0px 0px 4px);
	}

	&.c-paper-folder {
		/*is open, or has a non-hidden elem with active button-cont*/
		&.open, &:has(:not(.c-hidden) > .c-paper-item > .c-active) {
			position: initial !important;
			visibility: visible;
			display: initial !important;

			.c-paper-folder-cont {
				position: initial;
				visibility: visible;
				display: flex !important;
			}

			& > .c-paper-item {
				margin: 0px;
				/*! min-height: var(--c-paper-icon-size); */
				padding-bottom: 0px;
			}
		}

		/*is closed, and doesnt have a non-hidden elem with active button cont*/
		&.closed:not(:has(:not(.c-hidden) > .c-paper-item > .c-active)) {
			.c-paper-folder-cont {
				position: absolute;
				visibility: hidden;
				opacity: 0;
			}
		}

		.c-paper-icon {
			fill: #fff;
		}
	}
	/*! border: 1px red solid; */
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item {
	display: flex;
	flex-direction: row;

	width: var(--paper-item-width);
	/*max-height: calc(var(--paper-title-line-height) * var(--paper-max-line-clamp));*/
	max-height: 100%;

	min-height: 25px;
	padding: var(--c-paper-padding-top) 0px var(--c-paper-padding-btm) var(--paper-item-padding-left);

	/*margin: 0px 0px 1% 0px; removed because of possibility of clicking on margin, event goes to href of cont, not yt navigation click*/

	border-radius: var(--c-paper-border-radius);
	transition: background-color 0.1s ease;

	position: relative;

	&:has(.c-paper-subtitle a[href]:hover) {
		background-color: rgba(255,255,255,.03);
	}

	&:not(.c-uninteractable):not(:has(.c-editing)):not(:has(.c-paper-subtitle a[href]:hover)):hover, &:has(.c-active.c-paper-button-cont):not(:has(.c-editing)) {
		background-color: rgba(255,255,255,.1);

		&:not(:has(.c-editing)) .c-paper-button-cont:not(.c-hidden) {
			visibility: visible;
			opacity: 1;
		}

		&:not(:has(.c-editing)):not(:has(.c-paper-button-cont.c-hidden)):not(:has(.c-active)) .c-paper-icon-cont img {
			filter: brightness(0.5) blur(1px);
		}

		&:not(:has(.c-editing)):not(:has(.c-paper-button-cont.c-hidden)):not(:has(.c-active)) .c-paper-icon-cont .c-paper-btn {
			display: initial;
		}
	}

	&:has(.c-editing) {
		.c-paper-text-cont * {
			line-clamp: 2;
			-webkit-line-clamp: 2;

			/*word-break: break-all;*/
		}
	}

	& ytmusic-play-button-renderer {
		visibility: hidden;
		position: absolute;
		max-height: 0px;
	}
}

/*svg.c-paper-icon {
	/*height: calc(var(--c-paper-icon-size)*1.1);
	width: calc(var(--c-paper-icon-size)*1.1);//
	height: var(--c-paper-icon-size);
	width: var(--c-paper-icon-size);
}*/

.c-paper-button-cont svg {
	height: 100%;
	width: 100%;
}


.folder.c-paper-icon > path {
	transform: scale(1.2) translate(-2px, -2.5px);
}

.c-paper-btn:has(.move) {
	cursor: grab !important;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont {
	height: var(--c-paper-icon-size);
	width: var(--c-paper-icon-size);
	aspect-ratio: 1/1;

	position: relative;
	flex-shrink: 0;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont:has(img[src=""]) {
	width: 0;
	height: 0;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont > div.c-paper-btn {
	position: absolute;

	right: 2.5%;

	display: none;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont:has(img[src=""]) > div.c-paper-btn {
	display: none;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont > .c-paper-queuenext-btn {
	top: 2.5%;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont > .c-paper-queueadd-btn {
	bottom: 2.5%;
}


a.c-paper-wrapper[plId^="UC"] .c-paper-icon-cont img,
a.c-ovf-elem[plId^="UC"] .c-paper-icon-cont img,
a.c-paper-wrapper[plId^="FEmusic_library_privately_owned_artist"] .c-paper-icon-cont img,
a.c-ovf-elem[plId^="FEmusic_library_privately_owned_artist"] .c-paper-icon-cont img{
	border-radius: 50% !important;
}


div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont > .c-paper-icon {
	width: 100%;
	height: 100%;

	flex-shrink: 0;

	object-fit: cover;
	filter: drop-shadow(#342d2db0 2px 2px 4px);
	border-radius: var(--c-paper-border-radius);
}

.c-paper-text-cont {
		padding: 0px 0px 0px 10px;
		font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
		height: var(--c-paper-icon-size);
		max-width: calc(100% - var(--c-paper-icon-size));

	& .c-paper-title {
		font-size: var(--paper-title-size);
		line-height: var(--paper-title-line-height);
		text-justify: none;
		font-weight: 550;
		color: var(--high-bright-white);

	}

	& .c-paper-subtitle {
		font-size: var(--paper-subtitle-size);
		font-weight: 250;
		color: var(--low-bright-white);

	}

	& > * {
		display: -webkit-box;
		-webkit-box-orient: vertical;

		line-clamp: var(--paper-max-line-clamp);
		-webkit-line-clamp: var(--paper-max-line-clamp);

		overflow: hidden;
	}
}

.c-paper-subtitle a {
	text-decoration: none;
	color: var(--low-bright-white);
	vertical-align: top;
}

.c-paper-subtitle svg {
	height: 0.9lh;
	display: inline;
	margin-right: 0.2em;

	fill: var(--low-bright-white);
}

.c-paper-subtitle a[href]:hover {
	text-decoration: underline;
}

.c-paper-wrapper[mfid="undefined"] > .c-paper-item > .c-paper-button-cont:not(.c-editing) {
	display: none !important;
}

.c-paper-wrapper[mfid="undefined"] > .c-paper-item > .c-paper-icon-cont .c-paper-btn {
	display: none !important;
}

.c-paper-wrapper[mfid="undefined"] > .c-paper-item > .c-paper-icon-cont img {
	filter: none !important;
}

div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-button-cont {
	display: flex;
	flex-direction: row;
	align-items: center;

	/*padding-bottom: 3px;*/
	margin-top: -3px;

	/*visibility: visible;*/
	opacity: 0;

	margin-left: auto;

	transition: opacity 0.1s ease;

	position: absolute;
	right: 0;
	height: 100%;
	width: auto;
	max-width: 40%;
	padding-left: 40px;
	justify-content: right;

	pointer-events: none;

	/*background: transparent;*/
	/*background: linear-gradient(to left, rgba(29, 29, 29, 1), rgba(29, 29, 29, 0.8) 80%, rgba(29, 29, 29, 0));*/
	/*background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) 70%, transparent);*/
	border-radius: var(--c-paper-border-radius);

	& > :not(.bkg-cont):not(:has(svg.move)) {
		cursor: pointer !important;
		pointer-events: initial;

		* {
			cursor: pointer !important;
		}
	}

	& > :not(.bkg-cont) { /* direct children only? */
		transition: transform 0.03s linear;

		&:not(.c-uninteractable):hover {
			transform: scale(var(--c-paper-btn-hover-scale));
		}
	}

	& .c-paper-status-icon {
		position: relative;
		padding: var(--c-paper-solo-btn-padding);

		& .icon {
			position: absolute;

			width: inherit;
			height: inherit;

			& .c-paper-play-icon {
				transform: translate(3,0);
			}
		}
	}

	&.c-editing {
		opacity: 1 !important;
	}

	/*&.c-active {
		opacity: 1 !important;
	}*/

}


.c-paper-shfl-icon {
	stroke: var(--max-bright-white);
	stroke: 1px;
}


div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-icon-cont > .c-paper-btn,
div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-button-cont > .c-paper-btn {
	/*	filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));*/
	aspect-ratio: 1/1;
	/*! width: auto; */
	z-index: 1;

	max-height: 90%;

	&.major, &.mid {
		padding-left: var(--c-paper-btn-padding);
	}

	&.major {height: var(--c-paper-maj-btn-size);}
	&.mid {height: var(--c-paper-mid-btn-size);}
	&.midsml {height: var(--c-paper-midsml-btn-size);}
	&.small {height: var(--c-paper-sml-btn-size);}
	&.tiny {height: var(--c-paper-tin-btn-size);}

	* {
		fill: var(--max-bright-white);
	}
}

.c-paper-folder-cont {
	display: flex;
	flex-direction: column;

	/*padding: 0px 0px 20px var(--folder-cont-padding-left);*/
	padding: 0px 0px 0px var(--folder-cont-padding-left);
	width: var(--folder-cont-width);
	cursor: default;

	/*&:not(:empty) {
		margin-top: -8px;
	}*/

	& .c-paper-wrapper {
		margin: 0px;

		/*transform: scale(var(--sidebar-folder-scale));*/

		/*transform-origin: top left;*/
		width: var(--folder-item-width);

		& .c-paper-title {
			font-size: var(--infolder-title-size);
			line-height: var(--infolder-title-line-height);
		}

		& .c-paper-subtitle {
			font-size: var(--infolder-subtitle-size);
		}

		/*& .c-paper-icon {
			/*##width: var(--infolder-icon-size);
			height: var(--c-paper-icon-size);

			/*padding-bottom: 3px;
		}*/
	}


}

body:has([c-dragging="oob"]) {
	cursor: not-allowed !important;

	& * {
		cursor: not-allowed !important;
	}
}

.c-paper-wrapper[c-dragging="true"] {
	opacity: var(--dragging-opac);
}

.c-paper-wrapper[c-dragging="oob"] { /* Out Of Bounds*/
	opacity: var(--dragging-oob-opac);
}

.c-paper-wrapper:has(.c-editing) .c-paper-icon-cont .c-paper-btn {
	display: none;
}

.c-ovf-elem {
	text-decoration: none;
	color: initial;
}

.c-ovf-elem label {
	width: 100%;
	height: 37px;

	display: -webkit-box;
	-webkit-box-orient: vertical;

	text-align: center;

	color: #ffffff;

	-webkit-line-clamp: 2;
	line-clamp: 2;

	overflow: hidden;
	text-overflow: clip;

	pointer-events: none;
}

.c-ovf-elem .c-paper-title {
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;

	font-weight: 500;

	font-size: 12px;
	line-height: 12px;
}

.c-ovf-elem .c-paper-subtitle {
	display: flex;

	justify-content: center;
	flex-wrap: wrap;

	column-gap: 0.2em;

	font-size: 11px;
	line-height: 11px;

	font-weight: 200;
	color: #fff;
}

.c-ovf-elem .c-paper-subtitle > * {
	flex-shrink: 0;
}

.c-sidebar-sep {
	/*width: 95%;*/
	width: 100%;
	padding: 0 2.5%;

	height: 15px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.c-sidebar-sep .c-sep-line {
	height: 1px;
	background: #515151;

	flex-grow: 1;
}

.c-sidebar-sep .c-sep-line.left {
	max-width: 15%;
}

.c-sidebar-sep .c-sep-title {
	flex-shrink: 0;
	flex-grow: 0;

	line-height: 15px;

	color: #f0f0f0;
}

.c-sidebar-sep .c-sep-title:not(:empty) {
	margin: 0 5px 0 5px;
}

.c-sidebar-sep .c-paper-btn {
	height: 100%;
	cursor: pointer;

	aspect-ratio: 1/1;
	flex-shrink: 0;
	fill: white;

	transition: transform 0.03s linear;

	&:hover {
		transform: scale(var(--c-paper-btn-hover-scale));
	}
}

ytmusic-guide-section-renderer:has(.c-editing) .c-sidebar-sep {
	cursor: grab;
}


/* ALL RELATED TO CUSTOM BUTTONS ON SIDEBAR */


#buttons.ytmusic-guide-section-renderer:has(yt-button-renderer) {
	gap: 6px;
	flex-wrap: wrap;
	padding: 0px 15px;

	& yt-button-renderer {
		max-width: 95px;
	}

	& #edit {
		width: 61px !important;
	}
}

.c-button {
	/*max-width: 90px;*/

	border-radius: 18px;

	display: flex;
	/*! flex: 1; */

	justify-content: center;
	align-items: center;
	padding: 0px 16px 0px 16px;

	cursor: pointer;

	&.c-side-main {
		max-width: none !important;
		width: 100%;
	}


	&.light {
		background-color: var(--light-theme-background-color);

		& .c-btn-icon, & .c-btn-text {
			fill: var(--light-theme-text-color);
			color: var(--light-theme-text-color);
		}

		&:hover {
			background-color: var(--light-theme-divider-color);
		}
	}

	&.dark {
		/*background-color: var(--c-yt-background)/*rgba(36, 36, 36, 1)*/
		background: rgba(255,255,255,0.1);
		border: 1px rgba(255, 255, 255, 0.1) solid; /*#2f2f2f*/

		& .c-btn-icon, & .c-btn-text {
			fill: var(--dark-theme-text-color);
			color: var(--dark-theme-text-color);
		}

		&:hover {
			/*background-color: #353535;*/
			background: rgba(255,255,255,0.2);
		}
	}

	&.text-only {
		background: none;
		text-decoration: none;

		& .c-btn-icon, & .c-btn-text {
			fill: var(--light-theme-background-color);;
			color: var(--light-theme-background-color);;
		}

		&:hover {
			background: #353535;
		}

	}


	& .c-btn-icon {
		width: 24px;
		height: 24px;
		fill: #ddd;
		margin-right: 6px;
	}

	& .c-btn-text {
		font-size: 14px;
		line-height: 36px;
		font-weight: 500;
		text-align: center;

		white-space: nowrap;

	}
}

#sections .yt-spec-button-shape-next {
	border: 1px rgba(255, 255, 255, 0.1) solid;
}


/* ALL RELATED TO POPUPS */

.c-popup-bkg {
	position: fixed;
	z-index: 1000;
	top: 0;

	width: 100%;
	height: 100%;

	background-color: #0000006e;

	opacity: 0;
	transition: opacity 0.3s ease;

	&.active {
		opacity: 1;
		transition: opacity 0.05s ease;
	}
}

.c-popup-bkg:has(.c-dropdown) {
	opacity: 1;
	pointer-events: none;

	background: transparent;
}

.c-popup-cont {
	position: fixed;
	z-index: 1001;

	margin: auto;
	padding: 15px 20px 20px 20px;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: min(700px, 53vw);
	height: max-content;

	background-color: rgb(13, 13, 13);
	opacity: 1;

	border: 1px #434343 solid;
	border-radius: 4px;
}

.c-popup-title {
	position: static;

	margin-bottom: 30px;

	width: inherit;


	& .c-popup-icon {
		display: inline-block;

		width: 70px;
		height: 70px;

		fill: #fff;
	}

	& .c-popup-text {
		display: inline-block;
		vertical-align: top;

		margin: 20px 0px 0px 11px;

		color: var(--yt-spec-text-primary);
		font-size: 25px;
		font-weight: 700;
	}
}

.c-popup-content {
	/*width: inherit;*/
	padding: 0px 0px 0px 15px;

	& .c-text-input {
		height: 40px;

		&.invalid .c-ul-bkg {
			background-color: red;
		}

		& .c-label-hover {
			height: 12px;
			/*! display: inline; */
		}

		& label {
			position: absolute;

			color: var(--yt-spec-text-secondary);
			font-size: 20px;
			line-height: 24px;

			user-select: none;
			pointer-events: none;

			transition: transform 0.1s ease, font-size 0.1s ease;

			&.floating {
				transform: translateY(-75%);
				font-size: 12px;
				margin-right: auto;
			}
		}

		& input {
			width: 100%;
			height: 24px;

			border: none;
			padding: 0px;

			background-color: #0000;
			color: var(--yt-spec-text-secondary);

			outline-style: none;
			font-size: 14px;
			caret-color: var(--yt-spec-light-blue);
		}
	}

	&:has(:first-child.c-popup-text-line) {
		margin-top: -26px;

		& .c-popup-text-line {
			margin-left: 0px;
		}
	}
}

.c-popup-text-line {
	margin: 0px 0px 0px 10px;

	& label {
		color: var(--yt-spec-text-secondary);
		font-size: 18px;
		line-height: 30px;
	}
}

.c-popup-actions {
	width: inherit;
	height: 35px;

	padding: 40px 0px 0px 0px;

	display: flex;
	justify-content: right;
	gap: 10px;

	& > .c-button {
		width: 60px;
	}
}



.c-underline {
	width: 100%;
	height: 2px;

	& > * {
		height: inherit;
	}

	& .c-ul-bkg {
		width: inherit;

		background-color: #343434;
	}

	& .c-ul-focused {
		width: 0px;

		margin-left: auto;
		margin-right: auto;

		background-color: var(--yt-spec-light-blue);

		transition: width 0.4s ease;

		&.active {
			width: 100%;
		}
	}

	&.active {
		.c-ul-focused {
			width: 100%;
			transition: width 0.6s ease;
		}
	}
}

.c-hidden {
	visibility: hidden;
	position: absolute !important;
	bottom: -1vh;

	display: none !important;
}

/*.c-hidden * {
	display: none;
}*/


.c-popup-elem-overflow {
	--height: 600px;
	width: 800px;
	height: var(--height);

	position: fixed;
	z-index: 110;

	top: calc(50% - var(--height) / 2);
	margin-left: 300px;

	background: var(--c-yt-background);
	border: 2px solid rgb(20, 20, 20);
}

.c-popup-elem-overflow:has([c-dragging="true"]) {
	cursor: grabbing !important;

	* {
		cursor: grabbing !important;
	}
}

.c-popup-elem-overflow .header {
	width: 100%;
	height: 15%;
	border-bottom: 1px solid white;
}

.c-popup-elem-overflow .header a {
	height: 50%;
	display: block;

	padding: 0 0 0 10px;

	color: white;
	font-family: Roboto;
	white-space: pre-wrap;
}

.c-popup-elem-overflow .header a:first-child {
	font-weight: 450;
	font-size: 40px;
}

.c-popup-elem-overflow .header a:nth-child(2) {
	font-weight: 200;
	font-size: 18px;
}

.c-popup-elem-overflow .elem-cont {
	height: 85%;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	overflow: hidden auto;
	overscroll-behavior: none;
}

.c-ovf-elem {
	width: 125px;
	height: 175px;
}

.c-ovf-elem[draggable="true"] {
	cursor: grab;
}

.c-ovf-elem .c-paper-folder-cont {
	display: none;
}

.c-ovf-elem[c-dragging="true"] {
	opacity: var(--dragging-opac);
}

.c-ovf-elem[c-dragging="oob"] { /* Out Of Bounds*/
	opacity: var(--dragging-oob-opac);
}

.c-ovf-elem img, .c-ovf-elem .c-paper-icon.folder {
	width: 80%;
	aspect-ratio: 1 / 1;

	object-fit: contain;

	margin: 5px 0 0 10%;

	/* these are for svg but dont affect img so its fine */
	height: unset;
	fill: white;
}

.c-ovf-elem .c-paper-btn {
	display: none;
}


ytmusic-browse-response[has-background]:not([disable-gradient]) .background-gradient.ytmusic-browse-response {
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgb(0, 0, 0)); /* does work but not fully*/
	background-image: none !important;
	height: fit-content !important;
}

ytmusic-browse-response[page-type="MUSIC_PAGE_TYPE_LIBRARY_CONTENT_LANDING_PAGE"] #tabs,
ytmusic-browse-response[page-type="MUSIC_PAGE_TYPE_DOWNLOADS_CONTENT_LANDING_PAGE"] #tabs,
ytmusic-browse-response[page-type="MUSIC_PAGE_TYPE_PRIVATELY_OWNED_CONTENT_LANDING_PAGE"] #tabs {
	position: static;
}

ytmusic-search-page #tabs {
	position: static;
	background: transparent;
	box-shadow: none !important;
}

ytmusic-two-column-browse-results-renderer #primary #contents yt-formatted-string.title {
	-webkit-line-clamp: none;
	line-clamp: none;
	overflow: hidden;

	text-align: center;
}

ytmusic-browse-response[c-page-type="MUSIC_PAGE_TYPE_PLAYLIST"] {
	ytmusic-two-column-browse-results-renderer #primary #contents ytmusic-thumbnail-renderer {
		margin-top: 11px;
		margin-bottom: 0px
	}

	ytmusic-two-column-browse-results-renderer #primary #contents .thumbnail-edit-button-wrapper yt-button-renderer	{
		bottom: 6px;
		right: 26px;
	}

	ytmusic-two-column-browse-results-renderer #primary #contents .facepile-container div:has(> img) {
		height: 20px;
		width: 20px;
		margin-right: -4px;
	}

	ytmusic-two-column-browse-results-renderer #primary #contents .facepile-container span {
		font-size: 16px;
		font-weight: 500;
		margin-left: 5px;
	}
}





ytmusic-two-column-browse-results-renderer #secondary #contents ytmusic-carousel-shelf-renderer {
	padding: 0 30px;
}



.ytmusic-two-column-browse-results-renderer:is(#primary, #secondary) ytmusic-section-list-renderer{
	margin-top: var(--secondary-top-margin);

	& .strapline {
		margin-top: 10px;
	}
}


.background-gradient #header ytmusic-immersive-header-renderer ytmusic-fullbleed-thumbnail-renderer {
	margin-left: 0;
}

ytmusic-fullbleed-thumbnail-renderer.ytmusic-browse-response {
	height: var(--yt-page-bkg-height) !important;
	filter: var(--yt-page-bkg-filter) !important;
}

ytmusic-app-layout:has(ytmusic-browse-response[c-page-type="MUSIC_PAGE_TYPE_ALBUM"]),
ytmusic-app-layout:has(ytmusic-browse-response[c-page-type="MUSIC_PAGE_TYPE_PLAYLIST"]),
ytmusic-app-layout:has(ytmusic-browse-response[c-page-type="C_PAGE_TYPE_PRIVATE_ALBUM"]) {
	& ytmusic-fullbleed-thumbnail-renderer.ytmusic-browse-response {
		position: fixed !important;
	}

	& .c-paper-button-cont .c-player-bkg {
		top: 0 !important;
	}
}

ytmusic-section-list-renderer.ytmusic-two-column-browse-results-renderer > #contents:not(.ytmusic-shelf-renderer) {
	background: rgba(0,0,0,0.2);
	border-radius: 20px;

	#header ytmusic-side-aligned-item-renderer {
		margin: 12px 0px 4px 16px;
	}
}

#primary > ytmusic-section-list-renderer.ytmusic-two-column-browse-results-renderer > #contents:not(.ytmusic-shelf-renderer) {
	padding-bottom: 10px;
}




div:not(.c-carousel) > .c-paper-wrapper > .c-paper-item > .c-paper-button-cont {
	/*clip-path: xywh(0 0 100% 100% round var(--c-paper-border-radius));*/
	mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%) !important;
}

.c-paper-wrapper .bkg-cont {
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;

	background: black;

	opacity: 0.9;

	&:has(.bkg-img-hide) {
		background: black;
	}
}

ytmusic-app-layout#layout[player-page-open] .c-player-bkg {
	top: 0 !important;
}

.c-paper-button-cont .c-player-bkg {
	width: 100vw;
	height: 100vh;
	position: fixed;

	left: 0;
	top: calc(var(--scrolled-height) * -1);
	z-index: -1;

	pointer-events: none;
}

.c-player-bkg {
	background-position: center;
	background-size: cover;

	opacity: var(--c-player-bkg-opacity);
	filter: var(--c-player-bkg-filter);

	transition: var(--c-player-bkg-transition);
}

.player-bar-fader {
	position: absolute;
	z-index: 1;
	background: rgba(0,0,0,1) !important;
	opacity: calc(1 - var(--c-player-bkg-opacity)) !important;

	filter: none;
	transition: var(--c-player-bkg-transition) !important;
}

ytmusic-app-layout#layout:not([player-page-open]) .c-paper-wrapper .c-player-bkg {
	height: var(--yt-page-bkg-height);
	background-image: var(--page-background);
	filter: var(--yt-page-bkg-filter);
	opacity: 1 !important;
}

ytmusic-app-layout#layout[player-page-open] .c-player-bkg {
	background-image: var(--playing-thumbnail);
}

ytmusic-app-layout#layout[player-page-open] #player-bar-background {
	background: transparent;

	backdrop-filter: brightness(0.7) saturate(2);
	opacity: 1;

	transition: background 0s linear 0.6s;
}

ytmusic-app-layout#layout[player-page-open] #player-bar-background .c-player-bkg:not(.player-bar-fader) {
	opacity: 0;
	transition: opacity 0.5s linear 0.7s !important;
}

#player-bar-background .c-player-bkg:not(.player-bar-fader) {
	transition: none;
	opacity: 1;
}

#player-bar-background {
	transition: none;
}

#player-bar-background .c-player-bkg {
	background-image: var(--playing-thumbnail);

	width: 150%;
	height: 150%;
}

#c-player-page-bkg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden !important;
	z-index: -1;
	transform: translate3d(-73px,-64px,0px);

	background-image: var(--playing-thumbnail);

	&.c-player-bkg {
		animation-name: player-page-bkg;
		animation-duration: 20s;
		animation-delay: 0s;
	 	animation-direction: alternate;
			animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

ytmusic-app-layout:has(tp-yt-app-drawer[opened]) #c-player-page-bkg {
	transform: translate3d(-240px,-64px,0px);
}


#player-bar-background.ytmusic-app-layout {
	align-items: center;
	display: flex;

	overflow: hidden;

	transition: none;
}

#player-bar-background.ytmusic-app-layout, #scrim.tp-yt-app-drawer, #mini-guide-background {
	background: rgba(0,0,0,1);
	overflow: hidden;
}

ytmusic-app-layout#layout[player-page-open] #mini-guide-background {
	opacity: 1 !important;
}

ytmusic-app-layout#layout:not([player-page-open]) #guide #items > :not(.c-carousel) .c-paper-button-cont {
	background: rgba(0,0,0,.8);
}

#mini-guide-background {
	opacity: 0 !important;
	width: var(--sidebar-width);

	/*background: rgba(0,0,0,0.7) !important;*/

	position: fixed;
	height: 100%;
	width: 100vw;
	left: 0;
	z-index: 3;

	transition: opacity 0.2s linear !important;
}

#mini-guide-background:has(~ #player-page.ytmusic-app[player-page-open]) {
	/* THIS COVERS #guide-wrapper*/
	opacity: 0 !important;
}

#progress-bar #primaryProgress {
	--gradient: linear-gradient(to right, red 0%, #ff2791 60%, #4c0097 100%);

	transform: scaleX(var(--v)) !important;
	transition: var(--transition);

	border-radius: 20px;

	background: var(--playing-thumbnail), var(--gradient);
	background-repeat: no-repeat;
	background-size: calc(1%/var(--v)*100) var(--imgHeight);
	background-position-y: top;

	filter: blur(3px) saturate(3) contrast(1);

	height: 4px;
}

#progress-bar .slider-knob.tp-yt-paper-slider {
	left: calc(99vw * calc(var(--v))) !important;

	.slider-knob-inner {
		background: var(--playing-thumbnail);
		background-size: 100vw 100vh;
		background-position: calc(99vw * calc(1 - var(--v))) -5px;

		filter: blur(3px) saturate(3);
		overflow: hidden;

		border: white 1px solid;
	}

	transition: var(--transition);
	overflow: hidden;
}

ytmusic-player-bar.ytmusic-app {
	background: rgba(0,0,0,0);
}

tp-yt-app-drawer#guide #guide-wrapper.ytmusic-app {
	transition: background 0.2s linear;

	background: rgba(0,0,0,0.5);
	backdrop-filter: blur(5px) brightness(0.7);

	height: calc(100vh - var(--ytmusic-player-bar-height));
}

ytmusic-app-layout[player-page-open] tp-yt-app-drawer#guide #guide-wrapper.ytmusic-app {
	background: rgba(0, 0, 0, 0.2);
}

ytmusic-app-layout[player-page-open] #nav-bar-background, ytmusic-app-layout[player-page-open] #nav-bar-divider {
	opacity: 0 !important;
}

ytmusic-app-layout.content-scrolled ytmusic-search-box .search-container {
	overflow: visible;
}

ytmusic-app-layout ytmusic-search-box .search-box {
	transition: background .15s ease, box-shadow .15s ease;
}

ytmusic-app-layout.content-scrolled:not([player-page-open]) ytmusic-search-box .search-box {
	background: var(--c-yt-background) !important;
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.4);
}

ytmusic-nav-bar #right-content {
	right: 35px;
}

ytmusic-nav-bar[guide-collapsed] #left-content > :not(#guide-button) {
	visibility: hidden;
}

ytmusic-player-bar svg {
	fill: #ffffff;
	stroke: transparent;
}

ytmusic-player-bar[repeat-mode="ALL"] yt-icon-button.repeat svg,
ytmusic-player-bar[repeat-mode="ONE"] yt-icon-button.repeat svg,
ytmusic-player-bar[shuffle-on] yt-icon-button.shuffle svg {
	stroke: #ffffffad;
}



#nav-bar-background, #nav-bar-divider {
	opacity: 0 !important;
	right: 0;
	width: 0%; /*100%*/
	margin-left: var(--sidebar-width);
	overflow: hidden;
}

.history-button.ytmusic-nav-bar {
	padding-right: 0;
	margin-right: -3px;
}




/* MINI GUIDE */

#mini-guide .c-yt-logo {
	width: 100%;
	height: 100%;

	padding-bottom: 10px;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	img {
		width: 50%;
		height: fit-content;
	}
}




ytmusic-playlist-shelf-renderer ytmusic-responsive-list-item-renderer .fixed-columns {
	width: 54px;
}

ytmusic-shelf-renderer ytmusic-responsive-list-item-renderer .fixed-columns {
	width: 94px;
}



ytmusic-menu-popup-renderer {
	overflow: hidden hidden !important;
	max-width: 300px !important;
	width: fit-content;
}

ytmusic-multi-select-menu-renderer {
	overflow: hidden !important;
	tp-yt-paper-listbox#items {
		width: 210px !important;
	}

	#title {
		width: 210px;
	}

	#container {
		min-width: 0 !important;
		width: fit-content !important;
		overflow: hidden;
	}
}

tp-yt-paper-listbox#items {
	padding: 10px 0px;

	display: flex;
	flex-direction: column;
	gap: 0px;

	/*width: 210px;*/
	width: fit-content;
	overflow: hidden !important;

	> * {
		padding-right: 0;
		margin-right: 0;
	}
}

tp-yt-paper-listbox#items > *, tp-yt-paper-listbox#items #navigation-endpoint, tp-yt-paper-listbox#items #primary-entry {
		height: 35px;
	min-height: 0px;
}

tp-yt-iron-dropdown {
	overflow: hidden;
}

ytmusic-player-page {
	transition-duration: 0.5s !important;
	transition-timing-function: ease !important;
}

tp-yt-app-drawer:not([opened]) .c-paper-button-cont {
	visibility: hidden !important;
}

ytmusic-app:has(ytmusic-network-status-banner[current-state="OFFLINE"]) #player-bar-background {
	bottom: 28px;
}

/* fixing PLAYER PAGE */
#side-panel.ytmusic-player-page {
	background: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px black;
	margin-bottom: 10px;
	padding-left: 10px;

	padding-bottom: 5px;
	border-radius: 3px;

	max-width: none !important;

	& ytmusic-tab-renderer {
		padding-right: 7px;
		scrollbar-width: thin;
	}
}

#main-panel {
	padding: 0;
	justify-content: center;
	align-content: center;
}

#main-panel #av-id {
	/*! margin-top: -50px; */
	padding-bottom: 0;
	margin-top: 12px;

}

#main-panel #player {
	align-self: center;
	background: transparent;
}

#main-panel #song-image, #main-panel #song-video {
	padding: 0;
}

#song-image {
	width: 100% !important;
	height: 100% !important;
}

#song-image img {
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
	max-height: none;
	max-width: none;
}

ytmusic-player:not([player-ui-state=FULLSCREEN]) #song-video {
	/*width: 850px !important;
	height: 478.125px !important;*/
	width: 45vw !important;
	height: calc(45vw * 1080 / 1920) !important;
}

ytmusic-player:not([player-ui-state=FULLSCREEN]) #song-video video {
	width: 45vw !important;
	height: calc(45vw * 1080 / 1920) !important;

	object-fit: contain;
	object-position: center;

	top: 0 !important;
	left: 0 !important;
}

ytmusic-app-layout[player-ui-state="FULLSCREEN"] {
	ytmusic-player:not([video-mode]) {
		left: calc(35vw - calc(67vh / 2));
		top: calc(45vh - calc(67vh / 2));
	}

	:not(:has([video-mode])) #av-id {
		opacity: 1 !important;

		width: 67vh;
		padding-left: calc(35vw - calc(67vh / 2));
		padding-top: 4vh;
	}

	#side-panel.ytmusic-player-page {
		margin: 0px 0 50px 60vw !important;
	}

	#c-player-page-bkg {
		transform: translate3d(0px,-64px,0px) !important;
	}

	ytmusic-player-bar {
		opacity: 1 !important;
	}
}
ytmusic-player:not([player-ui-state=FULLSCREEN])[video-mode] {
	width: fit-content;
	height: fit-content;
}

ytmusic-player:not([video-mode]) {
	width: 67vh;
	height: 67vh;
}


ytmusic-player-page ytmusic-background-overlay-renderer {
	background: rgba(0,0,0,0.9) !important;
	border-radius: 2px !important;
}

ytmusic-player-page ytmusic-player-queue-item yt-img-shadow img {
	border-radius: 3px !important;
}

@media(max-width: 1000px) {
	.content.ytmusic-player-page {
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
	}
	#main-panel.ytmusic-player-page {
		height: 56.25vw;
	}
	.side-panel.ytmusic-player-page {
		-moz-box-flex:1;
		flex:1;
		margin:var(--ytmusic-player-page-content-gap) 0 0 0;
		min-height:0
	}
	#tab-renderer.ytmusic-player-page {
		padding:0 16px
	}
	ytmusic-player-page[is-video-truncation-fix-enabled][video-mode]:not([player-fullscreened]):not([player-ui-state=MINIPLAYER]) #player.ytmusic-player-page {
		height:calc(56.25vw - var(--ytmusic-player-page-vertical-padding) - 32px);
		width:calc(100vw - var(--ytmusic-player-page-horizontal-padding)*2);
	}
}


ytmusic-responsive-list-item-renderer[page-type="MUSIC_PAGE_TYPE_PLAYLIST"],
ytmusic-responsive-list-item-renderer[page-type="MUSIC_PAGE_TYPE_ALBUM"] {
	border-radius: 20px !important;
}


.thumbnail-overlay.style-scope.ytmusic-two-row-item-renderer ytmusic-play-button-renderer {
	opacity: 0;
}

.thumbnail-overlay.style-scope.ytmusic-two-row-item-renderer:hover ytmusic-play-button-renderer {
	opacity: 1;
}










.c-carousel {
	height: 30px;
	display: flex;
	overflow: auto hidden;

	align-items: center;

	padding: 5px 0;
	gap: 6px;

	scrollbar-width: thin;
	justify-content: space-evenly; /* still maintains min of gap specified.*/
}

.c-carousel .c-paper-wrapper,
.c-carousel .c-paper-item,
.c-carousel .c-paper-icon-cont {
	width: 30px;
	height: 30px;

	position: relative;
}


.c-carousel .c-paper-icon {
	border-radius: 2px;
	height: 30px;
	aspect-ratio: 1/1;
	filter: drop-shadow(#342d2db0 1px 1px 2px);

	display: block !important;
}

.c-carousel:has(> :last-child:nth-child(n + 7)) { /* 7+ elems, give space for scrollbar */
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.c-carousel[c-draggable] {
	cursor: grab;
	height: 60px !important;
}

.c-carousel[c-draggable]:has(> :last-child:nth-child(1)) {
	border-radius: 4px;
	padding: 10px;
	background: rgba(100,100,100,0.3);
	background-clip: content-box;
}


.c-carousel .bkg-cont,
.c-carousel .c-paper-text-cont {
	display: none;
}



.c-carousel .c-paper-button-cont {
	width: 0;
	height: 0;
}


.c-carousel .c-paper-button-cont.c-editing {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: flex-end;

	position: absolute;
	top: 0;

	cursor: grab;
}

.c-carousel .c-paper-button-cont.c-editing > .c-paper-btn {
	position: initial;
}


.c-carousel .c-paper-wrapper .c-paper-btn {
	fill: var(--max-bright-white);

	visibility: hidden;
	transition: visibility 0s 0s linear;
}


.c-carousel .c-paper-wrapper:hover .c-paper-icon-cont img.c-paper-icon,
.c-carousel .c-paper-wrapper:has(.c-paper-button-cont.c-active) img.c-paper-icon,
.c-carousel .c-paper-wrapper:has(.c-paper-button-cont.c-editing) img.c-paper-icon {
	filter: brightness(0.7) blur(1px);
	box-shadow: 0.5px 0.5px 1px white;
}

.c-carousel .c-paper-wrapper:hover:not(:has(.c-paper-button-cont.c-active)):not(:has(.c-paper-button-cont.c-editing)) .c-paper-icon-cont .c-paper-btn {
	visibility: visible;
	transition: visibility 0s 0.7s ease;
}

.c-carousel .c-paper-wrapper:hover .c-paper-button-cont .c-paper-btn,
.c-carousel .c-paper-wrapper:has(.c-paper-button-cont.c-active) .c-paper-button-cont .c-paper-btn,
.c-carousel .c-paper-wrapper:has(.c-paper-button-cont.c-editing) .c-paper-button-cont .c-paper-btn {
	visibility: visible;
}

.c-carousel .c-paper-wrapper .c-paper-btn {
	position: absolute;
	bottom: 1px;
	width: 11px;
	height: 11px;
}

.c-carousel .c-paper-button-cont .c-paper-shfl-btn {
	left: 1px;
}

.c-carousel .c-paper-button-cont .c-paper-play-btn {
	right: 1px;
}

.c-carousel .c-paper-icon-cont .c-paper-btn {
	position: absolute;

	top: 1px;

	visibility: hidden;
}

.c-carousel .c-paper-button-cont .c-paper-status-icon.c-paper-btn {
	width: 20px;
	height: 20px;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
}

.c-carousel .c-paper-icon-cont .c-paper-queuenext-btn {
	left: 1px;
}

.c-carousel .c-paper-icon-cont .c-paper-queueadd-btn {
	right: 1px;
}



.c-carousel .c-paper-wrapper.c-hidden:has(.c-editing):not(.c-template) {
	visibility: visible !important;
	position: initial !important;
	display: initial !important;

	& .c-paper-item > * {
		opacity: 1;
	}
}

.c-paper-btn {
	transition: transform 0.03s linear;
	cursor: pointer !important;

	&:not(.c-uninteractable):hover {
		transform: scale(var(--c-paper-btn-hover-scale));
	}
}

.c-paper-btn * {
	cursor: pointer !important;
}

.c-paper-btn #spinnerContainer {
	overflow: hidden;
}

.c-carousel > .c-paper-btn:has(.delete) {
	width: 20px;
	flex-shrink: 0;
}

ytmusic-nav-bar div.center-content {
	position: absolute;
	width: calc(100vw - var(--ytmusic-guide-width));
	left: initial;
	right: 0;
	transform: none;
	padding-left: 88px;
}



ytmusic-player-page #side-panel ytmusic-queue-header-renderer #buttons .c-button#clear-queue {
	height: 32px;

	margin-left: 10px;
}


ytmusic-browse-response[page-type="MUSIC_PAGE_TYPE_PLAYLIST"] #contents #secondary #contents ytmusic-shelf-renderer .header h2.title {
	padding-left: 14px;
}

#automix-contents ytmusic-player-queue-item {
	cursor: pointer !important;
}

ytmusic-detail-header-renderer {
	background: rgba(0,0,0,0);
}

ytmusic-description-shelf-renderer[is-track-lyrics-page] {
	-moz-user-select: text;
	user-select: text;
}

ytmusic-nav-bar #right-content {
	padding: 3px;
	background: transparent;
	border-radius: 27px;
}
.c-master-buttons {
	width: fit-content;

	display: flex;
}

.c-master-buttons .c-button {
	width: 27px;
	height: 27px;

	padding: 0 5px;

	fill: rgba(255, 255, 255, 1);
}

ytmusic-nav-bar #right-content:has(.c-master-buttons div:not(.c-hidden)) {
	background: rgba(0, 0, 0, 0.5);
}

ytmusic-nav-bar #right-content ytmusic-settings-button yt-icon-button,
ytmusic-nav-bar #right-content ytmusic-settings-button yt-img-shadow {
	width: 33px;
	height: 33px;
}

body:has(tp-yt-iron-dropdown:not([aria-hidden="true"]) ytmusic-multi-page-menu-renderer.ytmusicMultiPageMenuRendererHostAccountMenu) ytmusic-nav-bar #right-content {
	background: var(--yt-spec-menu-background);

	border-bottom-right-radius: 0px;
}

tp-yt-iron-dropdown:has(ytmusic-multi-page-menu-renderer.ytmusicMultiPageMenuRendererHostAccountMenu) {
	transform: translateX(3px);
}


ytmusic-multi-page-menu-renderer.ytmusicMultiPageMenuRendererHostAccountMenu {
	border-top-right-radius: 0px;
}

.c-dropdown {
	width: fit-content;
	position: absolute;
	white-space: nowrap;

	background: var(--yt-spec-menu-background);

	padding: 3px;

	pointer-events: all;
	user-select: none;
	cursor: pointer;
}

.c-dropdown .c-drop-btn {
	margin-bottom: 4px;
}

.c-dropdown svg {
	fill: #aaa;

	padding: 4px 0;

	vertical-align: middle;
}

.c-dropdown a {
	color: #fff;
	height: fit-content;
	vertical-align: middle;

	display: inline-block;

	padding: 0 3px 0 6px;

}



/*.c-popup-elem-overflow[func="link-albums"] .c-paper-text-cont .c-paper-subtitle {
	display: none;
}

.c-popup-elem-overflow[func="link-albums"] .c-paper-text-cont .c-paper-title {
	-webkit-line-clamp: none;
	line-clamp: none;

	font-size: 12px;
	line-height: 12px;
	height: 60px;
}*/


ytmusic-responsive-list-item-renderer[stack-flex-columns] .left-items yt-formatted-string.index {
	user-select: none;
	-webkit-user-select: none;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover .left-items yt-formatted-string.index {
	visibility: visible;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover ytmusic-item-thumbnail-overlay-renderer {
	opacity: 0;
	cursor: default !important;
	pointer-events: none;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover .title-column yt-formatted-string.title {
	pointer-events: none;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover .fixed-columns yt-formatted-string.fixed-column {
	opacity: 1;
	user-select: none;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover .fixed-columns yt-checkbox-renderer.fixed-column {
	opacity: 0;
	pointer-events: none;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[stack-flex-columns]:hover ytmusic-menu-renderer.menu {
	--ytmusic-menu-renderer-overflow-button-opacity: 0;
	--ytmusic-menu-renderer-top-level-button-opacity: 0;
	overflow: hidden;
	pointer-events: none;
}

ytmusic-responsive-list-item-renderer .c-edit-btn {
	height: 45%;
	aspect-ratio: 1/1;
	position: absolute;
	right: 10px;
	fill: var(--high-bright-white);
	cursor: pointer;
}

ytmusic-browse-response[c-editing] ytmusic-responsive-list-item-renderer[c-hidden] {
	display: flex;
	opacity: 0.3;
}

ytmusic-responsive-list-item-renderer[c-hidden] {
	display: none;
}



ytmusic-responsive-list-item-renderer[unplayable] yt-formatted-string.index {
	display: none !important;
}

ytmusic-responsive-list-item-renderer[unplayable]:has(.c-skip-icon) yt-icon.error {
	display: none;
}

ytmusic-responsive-list-item-renderer .c-skip-icon {
	width: 24px;
	height: 24px;
	fill: #aaa;
}

ytmusic-responsive-list-item-renderer[c-skipped]:not([unplayable]) {
	opacity: 0.5;
}



.c-check-input {
	height: 20px;
	margin: 3px 0;
}

.c-check-input input {
	width: 14px;
	height: 14px;
	margin: 3px 0 0 0;
	box-sizing: border-box;
	
	display: inline-block;
}

.c-check-input label {
	color: var(--yt-spec-text-secondary);
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	vertical-align: top;
	
	padding: 0px 0px 0px 5px;

	user-select: none;
	pointer-events: none;
	display: inline;
}

.c-text-input.c-uninteractable {
	opacity: 0.5;
	pointer-events: none;
}

.c-lir-title-note {
	height: 1lh;
	aspect-ratio: 1/1;
	margin-left: 5px;
	
	stroke: #dddddd;
	stroke-width: 2px;
	fill: #000;
}

.c-lir-title-tag {
	height: 1lh;
	aspect-ratio: 1/1;
	margin-left: 5px;
	
	stroke-width: 0;
	fill: #f8ff6b;
}

ytmusic-responsive-list-item-renderer:has(#stacked-layout-badges svg) .c-lir-subtitle {
	padding-left: 5px;
}

.c-lir-subtitle {
	font-size: 14px;
	padding-left: 0px;

	color: #d1d1d1;
	font-weight: 450;
}

.c-lir-subtitle::before {
	content: "“";
}

.c-lir-subtitle::after {
	content: "”";
}

.c-colour-input {
	padding-top: 10px;
}

.c-colour-input label {
	font-size: 17px;
	color: #999;
	padding-right: 2px;
	vertical-align: middle;
}

.c-colour-input input {
	padding: 0;
	border: 1px white solid;
	border-radius: 12.5%;
	height: 1.5lh;
	display: inline-block;
	vertical-align: middle;
}



.c-popup-scroll-rows {
	width: 100%;
	
}
.c-popup-scroll-rows label {
	display: block;
	width: 100%;
	height: 17px;
	font-size: 17px;
	color: #eee;
	font-weight: 500;
	margin-bottom: 6px;
}

.c-popup-scroll-rows .cont {
	border: 1px #aaa solid;
	border-left: none;
	border-right: none;
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	margin-bottom: 6px;
	
	max-height: 60vh;
	
	scrollbar-width: thin;
}

.c-popup-scroll-row {
	width: 100%;
	height: 40px;
	
	display: flex;
	flex-direction: row;

	position: relative;
	
	margin-top: 5px;
	padding-bottom: 5px;
	
	border-bottom: 0.75px #555 solid;
	cursor: pointer;
}

.c-popup-scroll-row:last-child {
	border-bottom: none;
}


.c-popup-scroll-row .left-item {
	height: 100%;
	aspect-ratio: 1/1;
}

.c-popup-scroll-row .left-item svg {
	height: 70%;
	padding: 15%;
}

.c-popup-scroll-row .left-item img {
	height: 100%;
	border-radius: 7px;
}

.c-popup-scroll-row .title-row {
	height: 100%;
	flex-grow: 1;
	font-size: 16px;
	color: #ddd;
	font-weight: 600;
	padding-top: 5px;
	padding-left: 5px;
}

.c-popup-scroll-row .subtitle-row {
	color: white;
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	bottom: 7%;
	left: 45px;
}